body{
    background: thistle;
}
button{
    /**properties button*/
    display:block;
    width:50%;
    padding: 10px;
    margin: 50px auto;
    border:none;
    cursor:pointer;
    color:#fff;
    background-color: green;
    /**transition*/
    transition-property: background-color;
    transition-duration: 2000ms;
}
button:hover{
    background-color:aquamarine;
}
